.form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid #A9A9A9;
    border-radius: 0.5rem;
    width: 58%;
    padding: 0.4rem;
}
