.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 2rem;
    width: 100%;
    max-width: 40%;
    border-radius: 0.5rem;

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
    border: 1px solid #e3e3e3;

    background-color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 1024px) {
  .form {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .form {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .form {
    padding: 1.4rem;
    
  }
}