.container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
    padding: 0.4rem;
}

.label {
    font-weight: 500;
    text-align: left;
}
.input {
    height: 80%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    height: 4vh;
}

@media (max-width: 1024px) {
  .input {
    height: 4vh;
  }
}

@media (max-width: 480px) {
  .input {
    height: 3vh;
  }
}