.container {
    width: 100%;
    height: 4vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #304D6D;
    color: #fff;
    font-size: 0.8rem;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

@media (max-width: 980px) {
    .container {
        height: 08vh;
    }
}

@media (max-width: 720px) {
    .container {
        flex-direction: column;
    }
}