.container {
  display: flex;
  flex-direction: column;

  /* Borda gradiente */
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom, #fff, #0A5CA9) 1;
  max-width: 30%;
  pointer-events: none;
}

.foto {
    max-height: 50vh;
    width: auto;
}

.status {
    position: absolute;
    padding: 0.4rem;
    border-bottom-right-radius: 0.8rem;
    font-size: 0.8rem;
    background: linear-gradient(to right, #4FD92D, #2A7318); /* encontrado */
    background: linear-gradient(to right, #FF0000, #990000); /* perdido */
    font-weight: 500;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.8rem;
    padding: 0.4rem;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
}

.name {
    width: 100%;
}

.local, .data {
    font-weight: 500;
}

@media (max-width: 780px) {
    .container {
        max-width: 40%;
    }
}