.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2rem;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.titulo {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    max-width: 70%;
}

.botoes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.botao1 {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: #ff6f61;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.imagem {
    
}