body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background: url('/fundo.png') center / cover no-repeat fixed;
  background-attachment: fixed;
}


.App {
  color: #ffff;
  text-align: center;
  /* min-height: 100vh; */
  border-radius: 0 0 3rem 3rem;
  display: flex;
  flex-direction: column;
  background: url('/background.png')
    center
    / cover
    no-repeat;
}