body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  min-height: 100vh;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url('/fundo.png') center/cover no-repeat;
  filter: blur(1.5px); /* intensidade do blur */
  z-index: -1;
}

.App {
  color: #ffff;
  text-align: center;
  /* min-height: 100vh; */
  border-radius: 0 0 3rem 3rem;
  display: flex;
  flex-direction: column;
  background: url('/background.png')
    center
    / cover
    no-repeat;
}