body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background: url('/fundo.png') center / cover no-repeat fixed;
  background-attachment: fixed;
}


.App {
  color: #ffff;
  text-align: center;
  /* min-height: 100vh; */
  border-radius: 0 0 3rem 3rem;
  display: flex;
  flex-direction: column;
  background: url('/background.png')
    center
    / cover
    no-repeat;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4rem 2rem;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background: url('/fundoBottom.png') center/cover no-repeat;
}

.titulo {
  font-size: 3rem;
}


@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    width: 100%;
  }
}