.container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
    padding: 0.4rem;
    height: 10vh;
}

.label {
    font-weight: 500;
}
.input {
    height: 80%;
    border: 1px solid #fff;
    padding: 0.4rem;
    border-radius: 0.5rem;
}