.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
    padding:  2.8vh;
    background: url('/fundoBottom.png') center/cover no-repeat;
}

.titulo {
    font-size: 2.4rem;
}

@media (max-width: 1024px) {
  .container {
    padding: 3vh;
    justify-content: center;
    gap: 2rem;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 2rem 1rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.4rem 1rem;
    background-size: contain;
  }
}
